NODE_ENV=production
APP_ENV=production

DB_HOST=localhost
DB_PORT=3306
DB_USER=u409673832_bookworm
DB_PASSWORD=CHANGE_ME
DB_NAME=u409673832_bookwork

FIREBASE_PROJECT_ID=bookworm-6c9ec
APP_BASE=/bookworm/backend

# No localhost here
CORS_ORIGINS=https://ajarafashion.com,https://www.ajarafashion.com

ENFORCE_ORIGIN_WHITELIST=true
ORIGIN_ALLOW_EMPTY=false
